.slider-wrap 
  position: relative
  overflow: hidden
  margin: 20px auto 0 auto
  +adaptiv-value("margin-top", 20, 10)


.slider
  position: relative
  margin: 0
  padding: 0
  //height: 614px
  list-style: none


.slide
  position: relative
  display: block
  float: left
  margin: 0
  padding: 0
  width: 100%
  //height: 614px
  +adaptiv-value("height", 614, 307)
  display: flex
  flex-direction: column

  &-img
    img
      width: 100%
      height: 100%
      object-fit: contain
  &-txt
    background-color: $accentcolor
    color: $accentfontcolor
    //padding: 15px 20px
    +adaptiv-value("padding-top", 15, 7)
    +adaptiv-value("padding-bottom", 15, 7)
    +adaptiv-value("padding-left", 20, 10)
    +adaptiv-value("padding-right", 20, 10)
    position: absolute
    bottom: 0
    left: 0
    width: 100%


a.control_prev, a.control_next 
  position: absolute
  top: 40%
  z-index: 999
  display: flex
  //width: 80px
  //height: 80px
  +adaptiv-value("width", 80, 40)
  +adaptiv-value("height", 80, 40)
  background: $accentcolor
  color: $accentfontcolor
  opacity: 0.8
  cursor: pointer
  border-radius: 50%


a.control_prev:hover, a.control_next:hover 
  opacity: 1
  -webkit-transition: all 0.2s ease



a.control_next 
  right: 0


div#n2-ss-2 .n2-ss-slide-limiter
  max-width: 1200px

.n2-ss-slider .n2-ss-widget
  //width: 70px
  //height: 70px
  //min-width: 70px
  //height: 70px
  +adaptiv-value("width", 70, 35)
  +adaptiv-value("min-width", 70, 35)
  +adaptiv-value("height", 70, 35)
  +adaptiv-value("min-height", 70, 35)
  border-radius: 50%
  background: $accentcolor
  color: $accentfontcolor

  display: flex
  align-items: center
  justify-content: center

  &::before
    content: ""
    width: 0
    height: 0
    border-style: solid
    border-width: 20px 40px 20px 0
    +adaptiv-value("border-top-width", 20, 10)
    +adaptiv-value("border-right-width", 40, 20)
    +adaptiv-value("border-bottom-width", 20, 10)
    border-color: transparent $accentfontcolor transparent transparent
    margin-right: 10px
    +adaptiv-value("margin-right", 10, 5)


div#n2-ss-2 .nextend-arrow img
  display: none!important

//.n2-ss-slider .n2-ss-slider-controls-absolute-left-center>*
  //transform: scaleX(-1)

.n2-ss-slider .n2-ss-slider-controls-absolute-right-center>*
  transform: scaleX(-1)

div#n2-ss-2 .nextend-bar-horizontal
  border-radius: 0
  justify-content: space-between
  max-width: 1194px
  &::before
    display: none

div#n2-ss-2 .n2-style-ce5a58234dcbec0706d91fce72300923-simple
  opacity: 1
  padding: 15px 20px!important
  box-shadow: none
  border: 0px !important
  border-radius: 0px !important
  background: $accentcolor !important
  color: $accentfontcolor !important
  width: 100% !important

div#n2-ss-2 .nextend-bar-horizontal div *
  display: block!important
  font-family: $ComfortaaRegular
  font-size: 16px
  line-height: 1.18
  margin-bottom: 10px
  color: $accentfontcolor
  font-style: normal

.n2-ss-slider .n2-ss-slider-wrapper-inside .n2-ss-slider-controls
  top: -9px

@media screen and (orientation: landscape) and (max-width: 1199px) and (min-width: 901px)
  div#n2-ss-2 .n2-ss-slide-limiter
    max-width: 1200px!important

@media screen and (orientation: portrait) and (max-width: 1199px) and (min-width: 701px)
  div#n2-ss-2 .n2-ss-slide-limiter
    max-width: 1200px!important
  

div#n2-ss-2 .n2-ss-slide-limiter
  max-width: 1200px!important

div#n2-ss-2 .n-uc-tykXImF01QvI-inner
  padding: 0!important