.slider-wrap 
  position: relative
  overflow: hidden
  margin: 20px auto 0 auto
  +adaptiv-value("margin-top", 20, 10)


.slider
  position: relative
  margin: 0
  padding: 0
  //height: 614px
  list-style: none
  margin-bottom: 10px
  +tablet
    margin-bottom: 0

.slide
  position: relative
  display: block
  float: left
  margin: 0
  padding: 0
  width: 100%
  //height: 614px
  +adaptiv-value("height", 614, 307)
  display: flex
  flex-direction: column

  &-img
    img
      width: 100%
      height: 100%
      object-fit: contain
  &-txt
    background-color: $accentcolor
    color: $accentfontcolor
    //padding: 15px 20px
    +adaptiv-value("padding-top", 15, 7)
    +adaptiv-value("padding-bottom", 15, 7)
    +adaptiv-value("padding-left", 20, 10)
    +adaptiv-value("padding-right", 20, 10)
    position: absolute
    bottom: 0
    left: 0
    width: 100%


a.control_prev, a.control_next 
  position: absolute
  top: 40%
  z-index: 999
  display: flex
  //width: 80px
  //height: 80px
  +adaptiv-value("width", 80, 40)
  +adaptiv-value("height", 80, 40)
  background: $accentcolor
  color: $accentfontcolor
  opacity: 0.8
  cursor: pointer
  border-radius: 50%


a.control_prev:hover, a.control_next:hover 
  opacity: 1
  -webkit-transition: all 0.2s ease



a.control_next 
  right: 0


.n2-ss-slide-limiter
  max-width: 1200px

.n2-ss-slider .n2-ss-widget
  //width: 70px
  //height: 70px
  //min-width: 70px
  //height: 70px
  +adaptiv-value("width", 70, 35)
  +adaptiv-value("min-width", 70, 35)
  +adaptiv-value("height", 70, 35)
  +adaptiv-value("min-height", 70, 35)
  border-radius: 50%
  background: $accentcolor
  color: $accentfontcolor

  display: flex
  align-items: center
  justify-content: center
  

  &::before
    content: ""
    width: 0
    height: 0
    border-style: solid
    border-width: 20px 40px 20px 0
    +adaptiv-value("border-top-width", 20, 10)
    +adaptiv-value("border-right-width", 40, 20)
    +adaptiv-value("border-bottom-width", 20, 10)
    border-color: transparent $accentfontcolor transparent transparent
    margin-right: 10px
    +adaptiv-value("margin-right", 10, 5)


.nextend-arrow img
  display: none!important

//.n2-ss-slider .n2-ss-slider-controls-absolute-left-center>*
  //transform: scaleX(-1)

.n2-ss-slider .n2-ss-slider-controls-absolute-right-center>*
  transform: scaleX(-1)

.nextend-bar-horizontal
  border-radius: 0
  justify-content: space-between
  max-width: 1194px!important
  &::before
    display: none

//.n2-ss-slider .n2-ss-widget
//div#n2-ss-2 .n2-style-ce5a58234dcbec0706d91fce72300923-simple
.n2-ss-slider .n2-ss-widget > div
  opacity: 1
  padding: 5px 10px!important
  box-shadow: none
  border: 0px !important
  border-radius: 0px !important
  background: $accentcolor !important
  color: $accentfontcolor !important
  width: 100% !important
  +tablet
    padding: 15px 20px!important

.nextend-bar-horizontal div *
  display: block!important
  font-family: $ComfortaaRegular
  +adaptiv-value("font-size", 16, 11)
  line-height: 1.18
  margin-bottom: 2px
  color: $accentfontcolor
  font-style: normal
  +tablet
    margin-bottom: 10px

[class ^= "n2-font-"]
  height: 20px
  overflow: hidden
  display: -webkit-box
  -webkit-line-clamp: 4
  -webkit-box-orient: vertical
  line-height: 1.3
  text-overflow: ellipsis
  +tablet
    height: unset
    overflow: unset
    display: block
    -webkit-line-clamp: unset
    -webkit-box-orient: unset
    text-overflow: unset


.n2-ss-slider .n2-ss-slider-wrapper-inside .n2-ss-slider-controls
  top: 0px

.n2-ss-slider .n2-ss-layer-with-background,
.n2-ss-slider .n2-ss-layer[data-sstype=slide]
  padding: 0!important

.n2-ss-slider .n2-ss-layer:not([data-sstype=col])
  width: 100%
  height: 100%

.n2-ss-slider .n2-ss-item-image-content
  height: 100%!important

.n2-ss-slider .n2-ss-item-image-content img
  object-fit: cover
  height: 100%!important
  
@media screen and (orientation: landscape) and (max-width: 1199px) and (min-width: 901px)
  .n2-ss-slide-limiter
    max-width: 1200px!important

@media screen and (orientation: portrait) and (max-width: 1199px) and (min-width: 701px)
  .n2-ss-slide-limiter
    max-width: 1200px!important
  

.n2-ss-slide-limiter
  max-width: 1200px!important

.n-uc-tykXImF01QvI-inner
  padding: 0!important

@media screen and (orientation: landscape) and (max-width: 900px), (orientation: portrait) and (max-width: 700px)
  .slider-wrapper div[data-hide-mobileportrait="1"]
    display: flex!important

@media screen and (orientation: landscape) and (max-width: 900px), (orientation: portrait) and (max-width: 700px)
  .slider .slider-wrapper .slider-items div[id ^= "n2-ss"] div[id ^= "n2-ss-"][class ^= "n2-ss-"] [data-hide-mobileportrait="1"]
    display: flex!important


.n2-ss-slider .n2-ss-layer[data-sstype=content]
  max-width: 1194px!important