.tbl
  &-head
    color: $accentcolor
  &-row
    display: grid
    grid-template-columns: 20px auto 650px 60px 80px
    margin-bottom: 10px
    +adaptiv-value("grid-column-gap", 50, 10)
    border-bottom: 1px solid $accentcolor
    padding-top: 10px
    padding-bottom: 10px

.tbl-rows
  counter-reset: my-sec-counter

  .td-num
    position: relative
    &::before
      counter-increment: my-sec-counter
      content: counter(my-sec-counter)